body {
    font-family: "Arial","Helvetica", sans-serif;
    font-size: 1.2em;
    margin: 0;

}

.explain {
    width: 60%;
    text-align:justify;
    font-size: 1em;
    margin: 15px;
}

.leerdoel {
    font-style: italic;
}

.MyButton {
    width: 200px;
    height: 80px;

    /* deze combinatie centreert de tekst vertikaal en horizontaal */
    line-height:80px;
    text-align: center;

    border: 1px solid black;

}

.hidden {
    display: none;
}

/* Jouw styling hier */

.container {
    width: 100%;
    border: 1px solid;
    padding-top: 20px;

}

.A { background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height:100px;
    position:relative;
    top:0px;
    left:100%;
    /* dit zorgt ervoor dat het rode vierkant niet helemaal rechts buiten beeld valt bij een left van 100% */
    transform: translate(-100%, 0);
    z-index:1;


}

.B { background-color: green;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height:100px;
    position:relative;
    top:-100px;
    left:0%;
    z-index:0;

}


